require 'pry'

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <br />
    <h2>Choose an song or genre:</h2>
    <ul>
      <%= Song.all[1].name %>
      <%=  Song.all[0].name %>
  </body>
</html>
